{% extends 'home/index.html' %}


{% block content %}
    <div class="mx-auto mt-5">
        <div class="card">
            <div class="card-header">
                <h4 class="text-center card-title">Status</h4>
            </div>      
            <div class="card-body">
                <div class="mt-5 form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Image Scanned
                    </label>
                </div>
                <div class="mt-5 form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Check for disease
                    </label>
                </div>
                <div class="mt-5 form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Ask or Contact
                    </label>
                </div>
                <div class="mt-5 form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Check for replies
                    </label>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    